ion-icon{
    font-size: 80px;
}
ion-card-content{
    font-size: 80px;
    text-align: center;
}
ion-card-title{
    font-size: 25px;
    text-align: center;
    color:#ebe8e8;
}
.colorboton1{
    --ion-background-color:#3367eb;
    color:rgb(12,243,247);
}
.colorboton2{
    --ion-background-color:#394041;
    color:rgb(12,243,247);
}
.colorboton3{
    --ion-background-color:#8bbec5;
    color:rgb(207, 105, 22);
}